
footer {
  text-align: center;
  padding: 25px 0;
}
div {
  width: 100%;
}
.top {
  background-color: #000000;
}
.first-container {
  background-color: #FBFBFD;
  width:100%;
}
.second-container {
  color: #ffffff;
  background-color: #000000;
}
.third {
  width: 90%;
}
.color {
  color: #ffffff;
}
.social {
  font-size: 2rem;
  color: #000;
}
